html {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
}

h1 {
  margin: 0;
}

body ul li {
  text-decoration: none;
  list-style-type: none;
}

section {
  width: 100%;
  text-decoration: none;
  list-style-type: none;
}

.text {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.icon img, .icon svg {
  color: #fff;
}

h2, p {
  text-align: left;
}

.btn:hover {
  color: #fff;
}


@media only screen and (min-width: 60em) {

    .text {
      border-bottom: none;
    }

      section {
        border-right: 2px solid rgba(255, 255, 255, 1);
      }
}
