html {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
}

h1 {
  margin: 0;
}

body ul li {
  text-decoration: none;
  list-style-type: none;
}

.icon-link {
  display: inline-block;
}

.icon {
  width: 32px;
}

svg {
  fill: currentColor;
}

.btn:hover {
  color: #fff;
}


@media only screen and (min-width: 60em) {

    .text {
      border-bottom: none;
    }

      section {
        border-right: 2px solid rgba(255, 255, 255, 1);
      }
}
